{namespace roseGrid.templates}

/**
* @param greeting
*/
{template .welcome}
<h1 id="greeting">{$greeting}</h1>
<div class="{css rosegrid}">
	<div class="{css button}" title="Button 1">
		<img src="../images/icon48.png"/>
	</div>
</div>
{/template}