/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

/*
 * Standard styling for goog.ui.Dialog.
 *
 * @author ssaviano@google.com (Steven Saviano)
 * @author attila@google.com (Attila Bodis)
 */


.modal-dialog {
  background: #c1d9ff;
  border: 1px solid #3a5774;
  color: #000;
  padding: 4px;
  position: absolute;
}

.modal-dialog a,
.modal-dialog a:link,
.modal-dialog a:visited  {
  color: #06c;
  cursor: pointer;
}

.modal-dialog-bg {
  background: #666;
  left: 0;
  position: absolute;
  top: 0;
}

.modal-dialog-title {
  background: #e0edfe;
  color: #000;
  cursor: pointer;
  font-size: 120%;
  font-weight: bold;

  /* Add padding on the right to ensure the close button has room. */
  padding: 8px 31px 8px 8px;

  position: relative;
}

.modal-dialog-title-text {
  font:bold 22px arial,sans-serif;
}

.modal-dialog-title-close {
  /* Client apps may override the URL at which they serve the sprite. */
  background: #e0edfe url(editortoolbar.png) no-repeat -528px 0;
  cursor: default;
  height: 15px;
  position: absolute;
  right: 10px;
  top: 8px;
  width: 15px;
}

.modal-dialog-buttons,
.modal-dialog-content {
  background-color: #fff;
  padding: 8px;
}

.goog-buttonset-default {
  font-weight: bold;
}

/**********************************************************************************
 * Tab bar
 *********************************************************************************/
#dialog-tabbar-content {
  width: 350px;
  height: 185px;
  padding: 0 10px;
  overflow: hidden;
  font:14px arial,sans-serif;
}

#dialog-tabbar {
  font:16px arial,sans-serif;
}

/**********************************************************************************
 * Course Tab
 *********************************************************************************/

.dialog-course-info {
  background-color: #e8e8e8;
  padding: 2px 20px 1px 0;
  display: inline-block;
}

.dialog-course-info-label {
  font-weight:bold; 
  font-size: 15px;
  display: inline-block;
  min-width: 125px;
  margin-left: 5px;
}
.dialog-course-info-text-input {
  margin-left: 5px;
  width: 110px;
}

#dialog-course-color {
  border: solid 1px; 
  padding: 5px 15px; 
  background-color: rgb(0, 238, 0);
  text-align: center;
  font-weight:bold; 
  position: absolute;
  top: 57px;
  right: 12px;
}

hr {
  margin: 3px 0px;
}

/**********************************************************************************
 * Course Tab - Cell Group
 *********************************************************************************/
#dialog-cell-groups {
  height: 125px;
  overflow: auto;
}

.dialog-cell-group-label {
  display: inline-block;
  margin: 0 10px;
  min-width: 100px;
}

.dialog-cell-group-text-input {
  width: 180px;
  margin-left: 5px;
}

#add-cell-group {
  display: block;
  margin: 2px;
  text-align: right;
  color: #777;
  font-weight:bold; 
  font-size: 13px; 
}

/**********************************************************************************
 * Schedule Tab
 *********************************************************************************/
.dialog-button {
}