body {
  min-width: 500px;
  background-color: #FFF8ED;
}

.logo {
  margin: 2px;
}

.cell-control {
  background-color: #fff;
}

.rg-cell {
  font: normal 8pt Tahoma;
  color: #000;
  cursor: pointer;
}

.rg-cell-disabled {
  border-color: #888;
  color: #888;
  background-color: #ccc;
}

.rg-cell-hover {
  border-color: #369;
  color: #369;
  background-color: #9cf;
}

.rg-cell-active,
.rg-cell-selected,
.rg-cell-checked {
  border-color: #9cf;
  color: #9cf;
  background-color: #369;
}

.rg-cell-focused {
}

h1 {
  color: #c11;
  text-align: center;
}

.period-row td {
  background-color: #B8C5D3;
}

.period-number-row td {
  font: bold 9pt "Trebuchet MS", Tahoma, Arial, sans-serif;
}

.period-times-row td {
  font: normal 9pt "Trebuchet MS", Tahoma, Arial, sans-serif;
}

.period-row td {
  background-color: #B8C5D3;
  font: normal 9pt "Trebuchet MS", Tahoma, Arial, sans-serif;
}

.day-label {
  background-color: #B8C5D3;
  font: normal 10pt "Trebuchet MS", Tahoma, Arial, sans-serif;
}

table {
  border: none;
}

td {
  text-align: center;
}

td.top-left-cell {
  border: none;
  background-color: transparent;
}

.wrapper {
  display: table;
  width: 100%;
}

.cell-inner {
  vertical-align: middle;
  display: table-cell;
  height: 20px;
}

.room-number,
.course-name {
}