body {
  min-width: 500px;
  background-color: #FFF8ED;
}

.logo {
  margin: 2px;
}

.period-row td {
  background-color: #B8C5D3;
}

.period-number-row td {
  font: bold 9pt "Trebuchet MS", Tahoma, Arial, sans-serif;
}

.period-times-row td {
  font: normal 9pt "Trebuchet MS", Tahoma, Arial, sans-serif;
}

.period-row td {
  background-color: #B8C5D3;
  font: normal 9pt "Trebuchet MS", Tahoma, Arial, sans-serif;
}

.day-label {
  background-color: #B8C5D3;
  font: normal 10pt "Trebuchet MS", Tahoma, Arial, sans-serif;
}

table {
  border: none;
}

td {
  text-align: center;
  padding: 0 5px;
  border-width: 1px;
  border-color: #777;
}



td.top-left-cell {
  background-color: transparent;
}
.period-number-row td.top-left-cell {
  border-width: 0 1px 0 0;
}
.period-times-row td.top-left-cell {
  border-width: 0 1px 1px 0;
}

.wrapper {
  display: table;
  width: 100%;
}

.cell-inner {
  vertical-align: middle;
  display: table-cell;
  height: 20px;
}

.room-number,
.course-name {
}



.cell-control {
  font: normal 8pt Tahoma;
  cursor: pointer;
}

.cell-control-disabled {
  border-color: #888;
  color: #888;
  background-color: #ccc;
}

.cell-control-hover {
  border-color: #f22;
  border-width: 1px;
}

.cell-control-active,
.cell-control-selected,
.cell-control-checked {
  border-color: #ff0;
  border-width: 1px;
}

.cell-control-focused {
}